@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");
body,
#root {
	font-family: "Quicksand", sans-serif !important;
}
.fluent-input {
	font-size: 1rem;
	line-height: 1.5;
	border: 1px solid lightgray;
	outline: 0;
	appearance: none;
	transition: border-width 0.25s ease-in-out, box-shadow 0.15s ease-in-out;
}
.fluent-input:focus {
	border-width: 1px 1px 2px 1px;
	border-color: transparent transparent rgb(89, 174, 226) transparent;
	background: rgb(248, 248, 248);
}
.w-fc {
	width: fit-content;
}
.w-15 {
	width: 15%;
}
.w-45 {
	width: 45%;
}
.w-85 {
	width: 85%;
}
.vh-90 {
	height: 80vh;
}
.sticky {
	position: sticky;
}

@media (min-width: 767px) {
	.w-45-ns {
		width: 48%;
	}
	.b-circle {
		width: 250px;
		height: 250px;
		border: 1px solid white;
		border-radius: 50%;
	}
}
@media screen and (min-width: 30em) and (max-width: 60em) {
	.w-48-m {
		width: 48%;
	}
}
th, td {
	background: transparent !important;
	color:inherit !important;
}
@media (max-width: 767px) {
	.w-100-s {
		width: 100%;
	}
	.dn-s {
		display: none;
	}
	.flex-column-s {
		flex-direction: column;
	}
	.b-circle {
		width: 100px;
		height: 100px;
		border: 5px ridge white;
		border-radius: 50%;
	}
}
.b-circle-s {
	width: 100px;
	height: 100px;
	border: 5px ridge white;
	border-radius: 50%;
}
