.fluent-input {
	font-size: 1rem;
	line-height: 1.5;
	border: 1px solid lightgray;
	outline: 0;
	appearance: none;
	transition: border-width 0.25s ease-in-out, box-shadow 0.15s ease-in-out;
}
.fluent-input:focus {
	border-width: 1px 1px 2px 1px;
	border-color: transparent transparent rgb(89, 174, 226) transparent;
	background: rgb(248, 248, 248);
}
.w-fc {
	width: fit-content;
}
.sticky {
	position: sticky;
}
.b-circle {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	border-radius: 50%;
}
@media (max-width: 767px) {
	.dn-s {
		display: none;
	}
	.flex-column-s {
		flex-direction: column;
	}
}
